.App {
  text-align: center;
}

.css-ll806y {
  display: flex;
  justify-content:left;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 4px;
  margin-bottom: 24px;
  width:700; 
  height:400;
  opacity: 1;
  background: linear-gradient(310deg, rgb(20, 23, 39), rgb(58, 65, 111));
  color: rgb(52, 71, 103);
  border-radius: 0.75rem;
}